nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #b3b3b3;
}

nav li {
    float: right;
}

nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav li a:hover {
    background-color: #d9d9d9;
}

button {
    background-color: transparent;
    border: 0;
    padding: 14px 16px;
    color: white;
}

button:hover {
    background-color: #d9d9d9;
}

#header {
    text-align: center;
    padding: 6px 6px;
    text-decoration: none;
    font-size: 1.6em;
}

.container {
    margin: 0 auto;
    width: 1111px;
}

#restaurant-container {
    float: left;
    width: 45%;
    margin-left: 30px;
}

#review-container {
    float: right;
    width: 35%;
    margin-right: 30px;
}

