<nav>
  <ul>
    <li id="header" style="float:left">legit_hub</li>
      <li><a href="/restaurants/new">placholder</a></li>
      <li><a href="/users/new">register</a></li>
      <li><a href="/sessions/new">login</a></li>
  </ul>
</nav>