<div class="container">

  <section class="tag-box col-md-4">
    <%= erb :'/tags/index' %>
  </section>

  <section class ="gist-box col-md-4">
  </section>

  <section class ="snippet-box col-md-4">
  </section>

</div>
